---
title: Schedule
layout: default
permalink: /schedule
image: hero.jpg
---
{% include top-section.html %}
<!-- {% include navigation.html %} -->

<div id="schedule">
    <!-- <h1>Schedule </h1> -->

    <p>
        The schedule is subject to change. Any updates will be posted here or will
        be available on a booklet on the day of the event.
    </p>

    <section class="schedule" id="rpgs">
        <h1>RPGs</h1>

        <h2>Friday</h2>
        <table>
            <tbody>
                <tr>
                    <td>18:00</td>
                    <td>
                        <ul>
                            <li><b>Homebrew - </b><a href="/games/abused-powers">Abused Powers</a></li>
                            <li><b>Alien - </b> <a href="/games/it-waits-in-the-dark">It waits in the dark</a></li>
                            <li><b>Sentiment - </b> <a href="/games/reflection-zero-to-hero">Reflection: Zero to Hero</a></li>
                            <li><b>Shires out - </b> <a href="/games/hair-hare-heir">Hair of the hare of the heir</a></li>
                            <li><b>RuneQuest: Glorantha - </b> <a href="/games/cattle-raid">Cattle Raid!</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>22:00</td>
                    <td>
                        <ul>
                            <li><b>Cyberpunk RED - </b><a href="/games/bad-product">Bad Product</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>Saturday</h2>
        <table>
            <tbody>
                <tr>
                    <td>10:00</td>
                    <td>
                        <ul>
                            <li>
                                <b>Ryuutuma - </b> <a href="/games/letters-to-a-departed-dragon">Letters to a Departed Dragon</a>
                            </li>
                            <li>
                                <b>D&D 5e - </b> <a href="/games/come-away-child">Come Away Oh Human Child</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>14:00</td>
                    <td>
                        <ul>
                            <li>
                                <b>Ryuutuma - </b><a href="/games/search-for-the-dragonstar">Search for the Dragonstar</a>
                            </li>
                            <li>
                                <b>Heart: The City Beneath - </b><a href="/games/airlock-7">Airlock 7</a>
                            </li>
                            <li>
                                <b>Cyberpunk 2020 - </b><a href="/games/are-friends-electric">Are Friends Electric</a>
                            </li>
                            <li>
                                <b>RuneQuest: Glorantha - </b><a href="/games/a-rough-landing">A Rough Landing</a>
                            </li>
                            <li>
                                <b>RuneQuest: Glorantha - </b><a href="/games/the-rattling-wind">The Rattling Wind</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        18:00
                    </td>
                    <td>
                        <ul>
                            <li>
                                <b>Alien - </b><a href="/games/bug-hunt">Bug Hunt</a>
                            </li>
                            <li>
                                <b>Homebrew - </b><a href="/games/how-not-fix-problem">How to (Not) Fix a Problem</a>
                            </li>
                            <li>
                                <b>Delta Green/d100 - </b><a href="/games/infinite-staircase">Infinite Staircase National Park</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        22:00
                    </td>
                    <td>
                        <ul>
                            <li>
                                <b>Trail of Cthulhu - </b><a href="/games/out-of-the-col">Out of the Cold</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>Sunday</h2>
        <table>
            <tbody>
                <tr>
                    <td>
                        10:00
                    </td>
                    <td>
                        <ul>
                            <li>
                                <b>Cyberpunk 2020 - </b><a href="/games/are-friends-electric">Are Friends Electric</a>
                            </li>
                            <li>
                                <b>Heart the City Beneath - </b><a href="/games/this-sick-island">The Sick Island</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        14:00
                    </td>
                    <td>
                        <ul>
                            <li>
                                <li><b>Homebrew - </b><a href="/games/abused-powers">Abused Powers</a></li>
                            </li>
                            <li>
                                <li><b>Sentiment - </b> <a href="/games/reflection-zero-to-hero">Reflection: Zero to Hero</a></li>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="schedule" id="ccgs">
        <h1>Card Games Tournaments</h1>

        <h2>Friday, 31st January</h2>
        <table>
            <thead>
                <tr>
                    <td>
                        Start Time
                    </td>
                    <td>
                        Registration Time
                    </td>
                    <td>
                        Game
                    </td>
                    <td>
                        Event
                    </td>
                    <td>
                        Entry
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        17:00
                    </td>
                    <td>
                        17:00
                    </td>
                    <td>
                        Commander
                    </td>
                    <td>
                        Constructed Tournament
                    </td>
                    <td>
                        €10
                    </td>
                </tr>
                <tr>
                    <td rowspan="1">
                        19:00
                    </td>
                    <td rowspan="1">
                        17:00
                    </td>
                    <td>
                        Yu-Gi-Oh
                    </td>
                    <td>
                        Locals
                    </td>
                    <td>
                        €5
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>Saturday, 28th January</h2>
        <table>
            <thead>
                <tr>
                    <td>
                        Start Time
                    </td>
                    <td>
                        Registration Time
                    </td>
                    <td>
                        Game
                    </td>
                    <td>
                        Event
                    </td>
                    <td>
                        Entry
                    </td>
                </tr>
            </thead>
            <tbody>    
                <tr>
                    <td>
                        11:00
                    </td>
                    <td>
                        10:00
                    </td>
                    <td>
                        Commander
                    </td>
                    <td>
                        Constructed Tournament
                    </td>
                    <td>
                        €10
                    </td>
                </tr>
                <tr>
                    <td>
                        12:00
                    </td>
                    <td>
                        10:00
                    </td>
                    <td>
                        Pokemon
                    </td>
                    <td>

                    </td>
                    <td>
                        €10
                    </td>
                </tr>
                <tr>
                    <td>
                        14:30
                    </td>
                    <td>
                        10:00
                    </td>
                    <td>
                        Yu-Gi-Oh
                    </td>
                    <td>
                        Win a box
                    </td>
                    <td>
                        €10
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        15:00
                    </td>
                    <td rowspan="2">
                        10:00
                    </td>
                    <td>
                        Ravnica
                    </td>
                    <td>
                        Remastered Draft
                    </td>
                    <td>
                        €30
                    </td>
                </tr>
                <tr>
                    <td>
                        Lorcana 
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        €10
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>Sunday, 29th January</h2>
        <table>
            <thead>
                <tr>
                    <td>
                        Start Time
                    </td>
                    <td>
                        Registration Time
                    </td>
                    <td>
                        Game
                    </td>
                    <td>
                        Event
                    </td>
                    <td>
                        Entry
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2">
                        12:00
                    </td>
                    <td rowspan="2">
                        11:00
                    </td>
                    <td>
                        Yu-Gi-Oh
                    </td>
                    <td>
                        Edison
                    </td>
                    <td>
                        €5
                    </td>
                </tr>
                <tr>
                    <td>
                        Pokemon
                    </td>
                    <td>
                        Win a box
                    </td>
                    <td>
                        €20
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        14:00
                    </td>
                    <td rowspan="2">
                        11:00
                    </td>
                    <td>
                        Magic: The Gathering
                    </td>
                    <td>
                        Pauper
                    </td>
                    <td>
                        €10
                    </td>
                </tr>
                <tr>
                    <td>
                        Yu-Gi-Oh
                    </td>
                    <td>
                        Locals
                    </td>
                    <td>
                        €5
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="schedule" id="larps">
        <h1>LARPS</h1>

        <h2>Saturday</h2>
        <table>
            <tbody>
                <tr>
                    <td>
                        10:00
                    </td>
                    <td>
                        <a href="/games/7-rivers">7 Rivers: Children of the Khan</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        14:00
                    </td>
                    <td>
                        <a href="/games/danganropa-kill">DanganRonpa: 3 Hours to Kill</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        14:00
                    </td>
                    <td>
                        <a href="/games/danganropa-live">DanganRonpa: 3 Hours to Live</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        18:00
                    </td>
                    <td>
                        <a href="/games/stewardship-arrakis">Dune Landsraad: Stewardship of Arrakis
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>Sunday</h2>
        <table>
            <tbody>
                <tr>
                    <td>
                        10:00
                    </td>
                    <td>
                        <a href="/games/tales-toholon">Tales of Toholon: Standards and Practices</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="schedule" id="stuff">
        <h1>Events</h1>

        <h2>Friday</h2>
        <table>
            <tbody>
                <tr>
                    <td>
                        18:00
                    </td>
                    <td>
                        Dungeon Geomorph Workshop
                    </td>
                </tr>
                <tr>
                    <td>
                        21:00
                    </td>
                    <td>
                        Quiz
                    </td>
                </tr>
            </tbody>
        </table>
        
        <h2>Saturday</h2>
        <table>
            <tbody>
                <tr>
                    <td>
                        11:00
                    </td>
                    <td>
                        NRB Q&A Panel
                    </td>
                </tr>
                <tr>
                    <td>
                        15:00
                    </td>
                    <td>
                        Hearthfire Tales Liveshow (with Special Guest Sullivan Beau Brown from NRB)
                    </td>
                </tr>
                <tr>
                    <td>
                        21:00
                    </td>
                    <td>
                        Charity Auction
                    </td>
                </tr>
            </tbody>
        </table>
        
        <h2>Sunday</h2>
        <table>
            <tbody>
                <tr>
                    <td>
                        11:00
                    </td>
                    <td>Knights of Munster</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
