---
title: Schedule
layout: default
permalink: /schedule
image: hero.jpg
---
{% include top-section.html %}
<!-- {% include navigation.html %} -->

<div id="schedule">
    <!-- <h1>Schedule </h1> -->

    <p>
        The schedule is subject to change. Any updates will be posted here or will
        be available on a booklet on the day of the event.
    </p>

    <section class="schedule" id="rpgs">
        <h1><a href="#rpgs">RPGs</a></h1>

        <h2>Friday, 27th January</h2>
        <table>
            <tbody>
                <tr>
                    <td>18:00 - 21:00</td>
                    <td>
                        <ul>
                            <li>
                                <b>Room 2 - </b><a href="/games/lets-try-microscope">Let's try Microscope</a>
                            </li>
                            <li>
                                <b>Room 3 - </b><a href="/games/original-sins">Original Sins</a>
                            </li>
                            <li>
                                <b>Room 4 - </b><a href="/games/giant-monsters-and-pr-disasters">Giant Monsters and PR Disasters</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
 
        <h2>Saturday, 28th January</h2>
       <table>
            <tbody>
                <tr>
                    <td>10:00 - 13:00</td>
                    <td>
                        <ul>
                            <li>
                                <b>Room 1 - </b><a href="/games/one-last-bash">One Last Bash</a>
                            </li>
                            <li>
                                <b>Room 2 - </b><a href="/games/mage-the-ascension-20">Mage the Ascension 20: Isaac Newton Must Die</a>
                            </li>
                            <li>
                                <b>Room 4 - </b><a href="/games/giant-monsters-and-pr-disasters">Giant Monsters and PR Disasters</a>
                            </li>
                            <li>
                                <b>Room 6 - </b><a href="/games/magnificent-chassis">The Magnificent Chassis</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>14:00 - 17:00</td>
                    <td>
                        <ul>
                            <li>
                                <b>Room 1 - </b><a href="/games/hyperion">Hyperion</a>
                            </li>
                            <li>
                                <b>Room 3 - </b><a href="/games/original-sins">Original Sins</a>
                            </li>
                            <li>
                                <b>Room 4 - </b><a href="/games/the-opened-barrow">The Opened Barrow</a>
                            </li>
                            <li>
                                <b>Room 6 - </b><a href="/games/cybercork-2063-soul-shilled">Cybercork 2063: Soul-Shilled</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        18:00 - 21:00
                    </td>
                    <td>
                        <ul>
                            <li>
                                <b>Room 1 - </b><a href="/games/lets-try-microscope">Let's Try Microscope</a>
                            </li>
                            <li>
                                <b>Room 2 - </b><a href="/games/who-hoots-for-who">Who Hoots for Who?</a>
                            </li>
                            <li>
                                <b>Room 3 - </b><a href="/games/righteous-fiends">Righteous Fiends</a>
                            </li>
                           <li>
                                <b>Room 6 - </b><a href="/games/one-for-the-road">One for the Road</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>       

        <h2>Sunday, 29th January</h2>
        <table>
            <tbody>
                <tr>
                    <td>
                        10:00 - 13:00
                    </td>
                    <td>
                        <ul>
                            <li>
                                <b>Room 1 - </b><a href="/games/hyperion">Hyperion</a>
                            </li>
                            <li>
                                <b>Room 6 - </b><a href="/games/one-for-the-road">One for the Road</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        14:00 - 17:00
                    </td>
                    <td>
                        <ul>
                            <li>
                                <b>Room 1 - </b><a href="/games/one-last-bash">One Last Bash</a>
                            </li>
                            <li>
                                <b>Room 2 - </b><a href="/games/who-hoots-for-who">Who Hoots for Who?</a>
                            </li>
                            <li>
                                <b>Room 3 - </b><a href="/games/righteous-fiends">Righteous Fiends</a>
                            </li>
                            <li>
                                <b>Room 4 - </b><a href="/games/the-opened-barrow">The Opened Barrow</a>
                            </li>
                            <li>
                                <b>Room 5 - </b><a href="/games/mage-the-ascension-20">Mage the Ascension 20: Isaac Newton Must Die</a>
                            </li>
                            <li>
                                <b>Room 6 - </b><a href="/games/cybercork-2063-soul-shilled">Cybercork 2063: Soul-Shilled</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="schedule" id="larps">
        <h1><a href="#larps">LARPS</a></h1>

        <h2>Saturday, 28th January</h2>
        <table>
            <tbody>
                <tr>
                    <td>
                        14:00 - 17:00
                    </td>
                    <td>
                        <a href="/games/city-of-no-flag">City of No Flag Game: 18 Badlands Adventures</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        18:00 - 21:00
                    </td>
                    <td>
                        <a href="/games/tales-of-toholon">Tales of Toholon: Last Refuge of the Scoundrel</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>Sunday, 28th January</h2>
        <table>
            <tbody>
                <tr>
                    <td>
                        14:00 - 17:00
                    </td>
                    <td>
                        <a href="/games/long-live-the-king">Long Live the King</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>