<!-- Begin Blog-->
<section id="blog" class="blog">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <h3>RPGs</h3>
            <div class="col-lg-8 col-md-10 col-xs-12">
                {% for post in site.categories.games %}
                {% unless post.path contains '_archive' %}
                    {% include post-entry.html %}
                {% endunless %}
                {% endfor %}
                {% if paginator.total_pages > 1 %}
                <div class="row">
                    <div class="pagination">
                        {% if paginator.previous_page %}
                        <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
                        {% else %}
                        <span class="previous">Previous</span>
                        {% endif %}
                        <span class="page-number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
                        {% if paginator.next_page %}
                        <a href="/page{{ paginator.next_page }}" class="next">Next</a>
                        {% else %}
                        <span class="next ">Next</span>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <!-- ^above might be useless (up until the endfor) -->

                <!-- <div class="row text-center">
                    <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">via RSS</a>
                    </p>
                </div> -->
            </div>
        </div>

        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2">
            <h3 style="display: block">LARPS</h3>

            <div class="col-lg-8 col-md-10 col-xs-12">
                {% for post in site.categories.larps %}
                {% include post-entry.html %}
                {% endfor %}
                {% if paginator.total_pages > 1 %}
                <div class="row">
                    <div class="pagination">
                        {% if paginator.previous_page %}
                        <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
                        {% else %}
                        <span class="previous">Previous</span>
                        {% endif %}
                        <span class="page-number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
                        {% if paginator.next_page %}
                        <a href="/page{{ paginator.next_page }}" class="next">Next</a>
                        {% else %}
                        <span class="next ">Next</span>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                <!-- <div class="row text-center">
                    <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">via RSS</a>
                    </p>
                </div> -->

            </div>
        </div>
    </div>
</section>
<!-- End Blog -->