<!-- Begin Location Section -->
<section id="location-map" class="location-map">
    <!-- <div id="canvas-map" class="canvas-map"></div> -->
    <iframe
    id="canvas-map" class="canvas-map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2462.1997900178912!2d-8.492542583608891!3d51.89381799019596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4844902363c80895%3A0x13f9a0fceadebf24!2sDevere%20Hall!5e0!3m2!1sen!2sie!4v1669733316168!5m2!1sen!2sie"
    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <div class="content-wrapper">
        <div class="col-lg-3 col-md-4 col-sm-6 col-md-offset-1 animated hiding location-description text-left" data-animation="fadeInLeft" data-delay="0">
            <div class="row">
                <div class="pull-left">
                    <h3>{{ site.locationBlockTitle }}</h3>
                    <ul>
                        {% if site.eventLocationName %}<li>{{ site.eventLocationName }}</li>{% endif %}
                        <li>{{ site.eventStreetAddress }}, {{ site.eventAddressLocality }}</li>
                        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                        <li>
                            {% assign startTime = site.eventStartTime | split: "T" %}
                            <!-- get day of week of start date -->
                            {% assign startDay = startTime[0] | date: "%A" %}
                            <time>{{ startDay }}, {{ startTime[1] }}</time> -
                            {% assign endTime = site.eventEndTime | split: "T" %}
                            <!-- get day of week of end date -->
                            {% assign endDay = endTime[0] | date: "%A" %}
                            <time>{{ endDay}}, {{ endTime[1] }}</time>
                        </li>
                    </ul>
                </div>
                <a href="{{ site.baseurl | append: '/logistics/#find-way' }}" class="pull-right">
                    <svg class="icon icon-direction" viewBox="0 0 32 32">
                        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-direction"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Location Section -->