<article class="row post">
    <a href="{{ site.baseurl | append: post.url }}" title="{{ post.title }}">
        <h4>{{ post.title }}</h4>
    </a>
    <div class="post-header">
        <div class="published col-md-6 col-xs-6 pull-left">
            {{ post.system }}

            <br />
            <span class="caption">
                by {{ post.author }}
            </span>
            <!-- <span class="caption">Posted:</span>
                                        <span class="publish-date" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</span> -->
        </div>
        <div class="pull-right">
            <ul class="social-links">
                {{% if post.exp_level %}}
                <li>
                    For {{ post.exp_level}}
                </li>
                {{% endif %}}
            </ul>
            <br />
        </div>
    </div>
    <p class="post-body">{{ post.content | strip_html | truncate: 350 }} <a
        href="{{ site.baseurl | append: post.url }}">continue reading</a>
    </p>

    <p class="tags" style="white-space: pre-wrap; text-transform: uppercase; font-size: 1.1em; font-family: monospace;">
        <!-- first post.tags -->
        {{ post.tags | join: " " }}
    </p>
    
</article>