<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div id="preloader" class="preloader">
        <div class="loader-gplus"></div>
    </div>

    <div id="st-container" class="st-container">
        <div class="st-pusher">
            <div class="st-content">

                {% include top-section.html %}
                <div class="post">
                    <div class="st-content-header st-content-meta">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        Writer:
                                    </td>
                                    <td>
                                        {{ page.author }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        System:
                                    </td>
                                    <td>
                                        {{ page.system }}
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td>
                                        Players
                                    </td>
                                    <td>
                                        {{ page.players }}
                                    </td>
                                </tr> -->
                                <tr>
                                    <td>
                                        Age:
                                    </td>
                                    <td>
                                        {{ page.exp_level }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Content warnings:
                                    </td>
                                    <td>
                                        {{ page.tags | join ' ' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="st-content-body">
                        {{ content }}
                    </div>
                </div>
                {% include footer.html %}

            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{ "/js/jquery-2.1.1.min.js " | prepend: site.baseurl }}><\/script>')
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
        if (typeof ($.fn.modal) === 'undefined') {
            document.write('<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}><\/script>')
        }
    </script>
    <!-- <script src="{{ " /js/default.js" | prepend: site.baseurl }}"></script>
    <script src="{{ " /js/scripts.min.js" | prepend: site.baseurl }}"></script> -->
    <script src="https://warpcon.ie/js/default.js"></script>
    <script src="https://warpcon.ie/js/scripts.min.js"></script>
    {% include schema-event.html %}
</body>

</html>